/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Pistol Grip Pimp";
  src: url("../public/fonts/PistolGripPump.ttf");
}
@font-face {
  font-family: "Mexicana";
  src: url("../public/fonts/Mexicana.ttf");
}
:root {
  --font-family: "Pistol Grip Pimp", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Mexicana", sans-serif;
  --red: #d23d3d;
  --green: #0f7054;
  --black: #252525;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: #fff;
  color: #fff;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  transition: opacity 400ms ease;
  z-index: 21;
}

.tooltip.visible {
  opacity: 1;
}

.header {
  width: 100%;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 20;
}
.header .header__container {
  width: min(1362px, 100%);
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header .header__container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
.header .header__container .navigation__list {
  padding: 8px;
  width: 100%;
  max-width: fit-content;
  height: 100%;
  border: 2px solid var(--black);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
}
@media screen and (max-width: 767px) {
  .header .header__container .navigation__list {
    font-size: 16px;
    gap: 14px;
  }
}
.header .header__container .navigation__list a {
  border-radius: 39px;
  padding: 7px 15px;
  transition: background-color 100ms ease;
}
.header .header__container .navigation__list a:hover {
  background-color: var(--green);
}
@media screen and (max-width: 767px) {
  .header .header__container .navigation__list a:hover {
    background-color: transparent;
  }
}
@media screen and (max-width: 767px) {
  .header .header__container .navigation__list a {
    padding: 10px 0;
  }
}
.header .header__container .header__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .header__container .header__socials > a {
  border: 2px solid var(--black);
  border-radius: 50px;
  width: 140px;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header .header__container .header__socials > a {
    height: 45px;
  }
}
.header .header__container .header__socials a:hover svg {
  transition: scale 200ms ease;
  scale: 1.06;
}
.header .header__container .header__socials .socials__wrap {
  width: 102px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--black);
  border-radius: 50px;
}
@media screen and (max-width: 767px) {
  .header .header__container .header__socials .socials__wrap {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.header .header__container .header__socials .socials__wrap a {
  display: flex;
  align-items: center;
}

.hero .hero__layers {
  min-height: 1080px;
  position: relative;
  overflow: hidden;
  background-color: #ffde9c;
}
@media screen and (max-width: 767px) {
  .hero .hero__layers {
    min-height: 1000px;
  }
}
.hero .hero__layers::before {
  content: "";
  width: 100%;
  height: 188px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}
.hero .hero__layers .layers__base {
  width: 100%;
  height: 100%;
  background-image: url("../public/img/hero/hero_layers_base.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: 1;
}
.hero .hero__layers .layers__sun {
  width: 2500px;
  height: 2500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -55%;
  background-image: url("../public/img/hero/hero_sun.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
  z-index: 0;
  animation: rotateSun 20s linear infinite;
}
.hero .hero__layers .layers__frog .frog__bg {
  width: 668px;
  height: 560px;
  border-radius: 50%;
  position: absolute;
  top: 88px;
  left: 49%;
  filter: blur(80.5px);
  mix-blend-mode: screen;
  z-index: 3;
  translate: -50% 0;
  background-color: #f18200;
}
.hero .hero__layers .layers__frog .frog__img {
  width: 485px;
  height: 363px;
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 50%;
  translate: -50% 0;
}
@media screen and (max-width: 420px) {
  .hero .hero__layers .layers__frog .frog__img {
    height: 320px;
  }
}

@keyframes rotateSun {
  to {
    rotate: 360deg;
  }
}
.layers__text {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-bottom: 71px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
@media screen and (max-width: 767px) {
  .layers__text {
    translate: 0 -6%;
    padding-bottom: 0;
  }
}
.layers__text .hero__title {
  font-family: var(--font-family);
  font-size: 136px;
  text-align: center;
  color: var(--red);
  text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
  order: 1;
}
@media screen and (max-width: 1199px) {
  .layers__text .hero__title {
    font-size: 96px;
  }
}
@media screen and (max-width: 767px) {
  .layers__text .hero__title {
    margin-bottom: 40px;
    font-size: 76px;
  }
}
.layers__text .hero__subtitle {
  font-family: var(--third-family);
  font-size: 76px;
  text-align: center;
  color: var(--green);
  order: 0;
  position: relative;
  top: 20px;
}
@media screen and (max-width: 1199px) {
  .layers__text .hero__subtitle {
    font-size: 56px;
  }
}
@media screen and (max-width: 767px) {
  .layers__text .hero__subtitle {
    top: 0;
    font-size: 36px;
  }
}
.layers__text .hero__buy {
  width: 173px;
  height: 54px;
  margin-top: 17px;
  margin-bottom: 74px;
  border: 2px solid #fff;
  border-radius: 33px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  order: 3;
  transition: background-color 200ms ease;
}
@media screen and (max-width: 767px) {
  .layers__text .hero__buy {
    margin-bottom: 30px;
  }
}
.layers__text .hero__buy:hover {
  background-color: #1d1d1d;
}
.layers__text .hero__buy:active {
  background-color: #000;
}
.layers__text .hero__code {
  width: fit-content;
  height: 54px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  order: 4;
}
@media screen and (max-width: 767px) {
  .layers__text .hero__code {
    font-size: 18px;
    word-break: break-all;
  }
}
.layers__text .hero__code #key {
  user-select: all;
}

.about {
  min-height: 1125px;
  background: linear-gradient(180deg, #ffeeba 0%, #ffe29c 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .about {
    min-height: 100%;
    padding-top: 40px;
    flex-direction: column;
  }
}
.about .about__container {
  width: min(1290px, 100%);
  min-height: 673px;
  padding-left: 80px;
  padding-right: 80px;
  background-image: url("../public/img/about/about_bg.png");
  background-size: cover;
  border-radius: 20px;
  position: relative;
  bottom: 80px;
}
@media screen and (max-width: 1199px) {
  .about .about__container {
    background-position: center;
  }
}
@media screen and (max-width: 767px) {
  .about .about__container {
    min-height: 100%;
    padding: 40px;
    bottom: 0;
    border-radius: 0px;
  }
}
.about .about__container::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 33px;
  width: calc(100% - 66px);
  height: calc(100% - 62px);
  border: 2px solid #000;
  border-radius: 20px;
}
.about .about__container .about__title {
  margin-top: 175px;
  margin-bottom: 29px;
  text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
  font-size: 96px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .about .about__container .about__title {
    font-size: 76px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .about .about__container .about__title {
    margin-top: 0;
  }
}
.about .about__container .about__description {
  max-width: 570px;
  margin-bottom: 45px;
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 180%;
  position: relative;
  z-index: 1;
}
.about .about__container .about__wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 1;
}
.about .about__container .about__text {
  padding-left: 50px;
  font-size: 39px;
  color: var(--red);
  text-shadow: 3px 3px 0 #000;
  position: relative;
}
.about .about__container .about__text:before {
  content: url("../public/img/about/about_text_mark.png");
  position: absolute;
  top: -4px;
  left: 0;
  filter: drop-shadow(3px 2px 0 #000);
}
.about .about__container .about__buy {
  width: 173px;
  height: 54px;
  border: 2px solid var(--black);
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #000;
  transition: background-color 200ms ease;
}
.about .about__container .about__buy:hover {
  background-color: #ccc;
}
.about .about__container .about__buy:active {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .about .about__container .about__buy {
    width: 120px;
    height: 36px;
    font-size: 16px;
  }
}

.about__decoration1 {
  position: absolute;
  top: -14px;
  left: 0;
}
@media screen and (max-width: 767px) {
  .about__decoration1 {
    display: none;
  }
}

.about__decoration2 {
  position: absolute;
  top: -14px;
  right: 75px;
}
@media screen and (max-width: 767px) {
  .about__decoration2 {
    display: none;
  }
}

.about__decoration3 {
  position: absolute;
  top: 213px;
  right: 0px;
}
@media screen and (max-width: 767px) {
  .about__decoration3 {
    display: none;
  }
}

.about__ticker {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .about__ticker {
    margin-top: 40px;
    position: relative;
  }
}
.about__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 80px;
  animation: tickerMove 60s linear infinite;
}
.about__ticker .ticker__wrap span {
  font-size: 24px;
  line-height: 100%;
  color: var(--green);
  text-wrap: nowrap;
}
.about__ticker .ticker__wrap span:nth-child(2n) {
  color: var(--red);
}

@keyframes tickerMove {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    translate: -50% 0;
  }
}
.pepenomic {
  min-height: 1068px;
  padding-top: 239px;
  padding-left: 316px;
  background-image: url("../public/img/pepenomic/pepenomic_bg.jpg");
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .pepenomic {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .pepenomic {
    min-height: 800px;
    padding-top: 40px;
  }
}

.pepenomic__title {
  margin-bottom: 56px;
  font-size: 136px;
  text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1199px) {
  .pepenomic__title {
    font-size: 96px;
  }
}
@media screen and (max-width: 767px) {
  .pepenomic__title {
    margin-bottom: 20px;
    font-size: 76px;
  }
}

.pepenomic__statisctics {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.statisctics__lequidity,
.statisctics__marketing,
.statisctics__team {
  height: 80px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border: 2.85px solid #000;
  border-radius: 57px;
  background-color: #fff;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .statisctics__lequidity,
  .statisctics__marketing,
  .statisctics__team {
    height: 60px;
    font-size: 24px;
  }
}
.statisctics__lequidity span:first-of-type,
.statisctics__marketing span:first-of-type,
.statisctics__team span:first-of-type {
  width: 136px;
  height: 106%;
  padding-left: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.85px solid #000;
  border-radius: 57px;
  position: relative;
  left: -2px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 46px;
}
@media screen and (max-width: 767px) {
  .statisctics__lequidity span:first-of-type,
  .statisctics__marketing span:first-of-type,
  .statisctics__team span:first-of-type {
    width: 100px;
    font-size: 32px;
  }
}
.statisctics__lequidity span:first-of-type::before,
.statisctics__marketing span:first-of-type::before,
.statisctics__team span:first-of-type::before {
  content: url("../public/img/pepenomic/pepenomic_mark.png");
  position: absolute;
  left: 9px;
  top: 4px;
}
.statisctics__lequidity span:last-of-type,
.statisctics__marketing span:last-of-type,
.statisctics__team span:last-of-type {
  margin-left: 28px;
}
@media screen and (max-width: 767px) {
  .statisctics__lequidity span:last-of-type,
  .statisctics__marketing span:last-of-type,
  .statisctics__team span:last-of-type {
    margin-left: 0;
  }
}

.statisctics__lequidity {
  color: var(--red);
}

.statisctics__marketing {
  color: var(--green);
}

.statisctics__team {
  color: #000;
}

.pepenomic__img {
  position: absolute;
  bottom: 107px;
  right: 0;
}

.pepenomic__decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 107px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ffeeba 0%, #ffe29c 100%);
}
@media screen and (max-width: 767px) {
  .pepenomic__decoration img {
    height: 20px;
  }
}

.buy {
  min-height: 960px;
  padding-top: 172px;
  padding-bottom: 120px;
  background-image: url("../public/img/buy/buy_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .buy {
    min-height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.buy__container {
  width: min(1330px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.buy__title {
  margin-bottom: 78px;
  font-size: 136px;
  text-align: center;
  text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1199px) {
  .buy__title {
    font-size: 96px;
  }
}
@media screen and (max-width: 767px) {
  .buy__title {
    margin-bottom: 40px;
    font-size: 72px;
  }
}

.buy__steps {
  display: flex;
  gap: 30px;
  height: 290px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .buy__steps {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
}

.steps__create,
.steps__some,
.steps__switch {
  width: 100%;
  height: 100%;
  padding: 42px 34px;
  border: 2px solid #000;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .steps__create,
  .steps__some,
  .steps__switch {
    padding: 24px 20px;
  }
}
@media screen and (max-width: 767px) {
  .steps__create,
  .steps__some,
  .steps__switch {
    max-width: 360px;
    border-radius: 30px;
  }
}
.steps__create h3,
.steps__some h3,
.steps__switch h3 {
  font-size: 51px;
  color: var(--green);
}
@media screen and (max-width: 1199px) {
  .steps__create h3,
  .steps__some h3,
  .steps__switch h3 {
    font-size: 32px;
  }
}
.steps__create h4,
.steps__some h4,
.steps__switch h4 {
  font-size: 32px;
  line-height: 97%;
  color: var(--red);
}
@media screen and (max-width: 1199px) {
  .steps__create h4,
  .steps__some h4,
  .steps__switch h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .steps__create h4,
  .steps__some h4,
  .steps__switch h4 {
    margin-bottom: 20px;
  }
}
.steps__create p,
.steps__some p,
.steps__switch p {
  bottom: 0;
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 151%;
  color: #000;
}
.steps__create img,
.steps__some img,
.steps__switch img {
  position: absolute;
  top: 42px;
  right: 37px;
  width: 58;
  height: 58px;
}
@media screen and (max-width: 1199px) {
  .steps__create img,
  .steps__some img,
  .steps__switch img {
    top: 20px;
    right: 20px;
    scale: 0.6;
  }
}

.steps__switch img {
  width: 48px;
  height: 67px;
}

.buy__btn {
  width: 173px;
  height: 54px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 33px;
  background-color: #fff;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #000;
  transition: 200ms background-color ease;
}
.buy__btn:hover {
  background-color: #ccc;
}

.buy__frog {
  position: absolute;
  top: 99px;
  right: 310px;
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .buy__frog {
    right: 0;
  }
}
.buy__frog .frog__shadow {
  position: absolute;
  bottom: -20px;
  left: 5px;
  z-index: 2;
  filter: blur(1px);
}
.buy__frog .frog__left {
  position: absolute;
  bottom: 35px;
  left: 72px;
  fill: rgba(255, 247, 168, 0.5);
  filter: blur(1.2px);
}
.buy__frog .frog__right {
  position: absolute;
  bottom: 30px;
  left: 126px;
  fill: rgba(255, 247, 168, 0.5);
  filter: blur(1.2px);
}

.buy__cloud {
  position: absolute;
  top: 50px;
  right: 520px;
}
@media screen and (max-width: 767px) {
  .buy__cloud {
    display: none;
  }
}
.buy__cloud span {
  width: 131px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -70%;
  color: #000;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 12px;
}

.footer {
  height: 173px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ffeeba 0%, #ffe29c 100%);
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer {
    height: auto;
    padding-top: 40px;
  }
}

.footer__container {
  width: min(1330px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer__title {
  margin-right: 171px;
  font-size: 72px;
  color: var(--red);
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 1199px) {
  .footer__title {
    margin-right: 20px;
    font-size: 48px;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    margin-right: 0;
    font-size: 36px;
  }
}

.footer__socials {
  padding-top: 26px;
  display: flex;
  align-items: center;
  gap: 45px;
}
@media screen and (max-width: 1199px) {
  .footer__socials {
    gap: 25px;
  }
}
@media screen and (max-width: 767px) {
  .footer__socials {
    flex-direction: column;
    gap: 0;
  }
}
.footer__socials .socials__text {
  font-family: var(--third-family);
  font-size: 50px;
  text-align: center;
  color: var(--green);
}
@media screen and (max-width: 1199px) {
  .footer__socials .socials__text {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .footer__socials .socials__text {
    font-size: 24px;
  }
}
.footer__socials .socials__links {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__socials .socials__links a:hover svg {
  transition: filter 250ms ease;
  filter: brightness(0.7);
}
.footer__socials .socials__links a:first-of-type {
  width: 140px;
  height: 100%;
}

.footer__up {
  margin-top: 16px;
  margin-left: auto;
  border: 2px solid #000;
  border-radius: 33px;
  width: 109px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  transition: background-color 200ms ease;
}
@media screen and (max-width: 1199px) {
  .footer__up {
    width: 44px;
    height: 44px;
    margin-top: 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .footer__up {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.footer__up:hover {
  background-color: #ccc;
}

/*# sourceMappingURL=styles.css.map */
