.about {
  min-height: 1125px;
  background: linear-gradient(180deg, #ffeeba 0%, #ffe29c 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    min-height: 100%;
    padding-top: 40px;
    flex-direction: column;
  }

  .about__container {
    width: min(1290px, 100%);
    min-height: 673px;
    padding-left: 80px;
    padding-right: 80px;
    background-image: url("../public/img/about/about_bg.png");
    background-size: cover;
    border-radius: 20px;
    position: relative;
    bottom: 80px;

    @media screen and (max-width: 1199px) {
      background-position: center;
    }
    @media screen and (max-width: 767px) {
      min-height: 100%;
      padding: 40px;
      bottom: 0;
      border-radius: 0px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 31px;
      left: 33px;
      width: calc(100% - 66px);
      height: calc(100% - 62px);
      border: 2px solid #000;
      border-radius: 20px;
    }

    .about__title {
      margin-top: 175px;
      margin-bottom: 29px;
      text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
      font-size: 96px;
      position: relative;
      z-index: 1;

      @media screen and (max-width: 1199px) {
        font-size: 76px;
        text-align: center;
      }
      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    .about__description {
      max-width: 570px;
      margin-bottom: 45px;
      font-family: var(--second-family);
      font-size: 18px;
      line-height: 180%;
      position: relative;
      z-index: 1;
    }

    .about__wrap {
      display: flex;
      align-items: center;
      gap: 40px;
      position: relative;
      z-index: 1;
    }
    .about__text {
      padding-left: 50px;
      font-size: 39px;
      color: var(--red);
      text-shadow: 3px 3px 0 #000;
      position: relative;

      &:before {
        content: url("../public/img/about/about_text_mark.png");
        position: absolute;
        top: -4px;
        left: 0;
        filter: drop-shadow(3px 2px 0 #000);
      }
    }
    .about__buy {
      width: 173px;
      height: 54px;
      border: 2px solid var(--black);
      border-radius: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 20px;
      color: #000;
      transition: background-color 200ms ease;

      &:hover {
        background-color: #ccc;
      }
      &:active {
        background-color: #fff;
      }

      @media screen and (max-width: 767px) {
        width: 120px;
        height: 36px;
        font-size: 16px;
      }
    }
  }
}

.about__decoration1 {
  position: absolute;
  top: -14px;
  left: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.about__decoration2 {
  position: absolute;
  top: -14px;
  right: 75px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.about__decoration3 {
  position: absolute;
  top: 213px;
  right: 0px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about__ticker {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 40px;
    position: relative;
  }

  .ticker__wrap {
    display: flex;
    align-items: center;
    gap: 80px;
    animation: tickerMove 60s linear infinite;
    span {
      font-size: 24px;
      line-height: 100%;
      color: var(--green);
      text-wrap: nowrap;
      &:nth-child(2n) {
        color: var(--red);
      }
    }
  }
}

@keyframes tickerMove {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    translate: -50% 0;
  }
}
