.hero {
  .hero__layers {
    min-height: 1080px;
    position: relative;
    overflow: hidden;
    background-color: #ffde9c;

    @media screen and (max-width: 767px) {
      min-height: 1000px;
    }

    &::before {
      content: "";
      width: 100%;
      height: 188px;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    .layers__base {
      width: 100%;
      height: 100%;
      background-image: url("../public/img/hero/hero_layers_base.png");
      background-size: cover;
      background-position: center center;
      position: absolute;
      z-index: 1;
    }

    .layers__sun {
      width: 2500px;
      height: 2500px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -55%;
      background-image: url("../public/img/hero/hero_sun.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: soft-light;
      z-index: 0;
      animation: rotateSun 20s linear infinite;
    }

    .layers__frog {
      .frog__bg {
        width: 668px;
        height: 560px;
        border-radius: 50%;
        position: absolute;
        top: 88px;
        left: 49%;
        filter: blur(80.5px);
        mix-blend-mode: screen;
        z-index: 3;
        translate: -50% 0;
        background-color: #f18200;
      }

      .frog__img {
        width: 485px;
        height: 363px;
        position: absolute;
        z-index: 3;
        top: 200px;
        left: 50%;
        translate: -50% 0;

        @media screen and (max-width: 420px) {
          height: 320px;
        }
      }
    }
  }
}

@keyframes rotateSun {
  to {
    rotate: 360deg;
  }
}

.layers__text {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-bottom: 71px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  @media screen and (max-width: 767px) {
    translate: 0 -6%;
    padding-bottom: 0;
  }

  .hero__title {
    font-family: var(--font-family);
    font-size: 136px;
    text-align: center;
    color: var(--red);
    text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
    order: 1;

    @media screen and (max-width: 1199px) {
      font-size: 96px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
      font-size: 76px;
    }
  }
  .hero__subtitle {
    font-family: var(--third-family);
    font-size: 76px;
    text-align: center;
    color: var(--green);
    order: 0;
    position: relative;
    top: 20px;

    @media screen and (max-width: 1199px) {
      font-size: 56px;
    }
    @media screen and (max-width: 767px) {
      top: 0;
      font-size: 36px;
    }
  }

  .hero__buy {
    width: 173px;
    height: 54px;
    margin-top: 17px;
    margin-bottom: 74px;
    border: 2px solid #fff;
    border-radius: 33px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    order: 3;
    transition: background-color 200ms ease;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    &:hover {
      background-color: #1d1d1d;
    }
    &:active {
      background-color: #000;
    }
  }

  .hero__code {
    width: fit-content;
    height: 54px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 24px;
    order: 4;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      word-break: break-all;
    }

    #key {
      user-select: all;
    }
  }
}
