.pepenomic {
  min-height: 1068px;
  padding-top: 239px;
  padding-left: 316px;
  background-image: url("../public/img/pepenomic/pepenomic_bg.jpg");
  background-size: cover;
  position: relative;

  @media screen and (max-width: 1199px) {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    min-height: 800px;
    padding-top: 40px;
  }
}

.pepenomic__title {
  margin-bottom: 56px;
  font-size: 136px;
  text-shadow: 5px 7px 0 rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2;

  @media screen and (max-width: 1199px) {
    font-size: 96px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 76px;
  }
}

.pepenomic__statisctics {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.statisctics__lequidity,
.statisctics__marketing,
.statisctics__team {
  height: 80px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border: 2.85px solid #000;
  border-radius: 57px;
  background-color: #fff;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 35px;

  @media screen and (max-width: 767px) {
    height: 60px;
    font-size: 24px;
  }

  span {
    &:first-of-type {
      width: 136px;
      height: 106%;
      padding-left: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2.85px solid #000;
      border-radius: 57px;
      position: relative;
      left: -2px;
      font-family: var(--second-family);
      font-weight: 800;
      font-size: 46px;

      @media screen and (max-width: 767px) {
        width: 100px;
        font-size: 32px;
      }

      &::before {
        content: url("../public/img/pepenomic/pepenomic_mark.png");
        position: absolute;
        left: 9px;
        top: 4px;
      }
    }

    &:last-of-type {
      margin-left: 28px;

      @media screen and (max-width: 767px) {
        margin-left: 0;
      }
    }
  }
}

.statisctics__lequidity {
  color: var(--red);
}
.statisctics__marketing {
  color: var(--green);
}
.statisctics__team {
  color: #000;
}

.pepenomic__img {
  position: absolute;
  bottom: 107px;
  right: 0;
}

.pepenomic__decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 107px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ffeeba 0%, #ffe29c 100%);

  img {
    @media screen and (max-width: 767px) {
      height: 20px;
    }
  }
}
